<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/cart.js"></script>
    <title>Shopping cart Page</title>


    <link rel="stylesheet" href="./css/cart.css">



</head>

<body style="font-family:arial;background-image: url(img/bjs3.jpg); background-size:100%" >
<div id="table" >
<table id="table2">
    <tr>
        <td>username:<p id="username">Username</p></td>
        <td>OrderID:<p id="orderId"></p></td>
    </tr>
</table>
</div>
<p><input type="hidden" id="id"/></p>
<div id="wyf">
</div>
<div id="count">total:<p id="total">total</p></div>
<div id="button">
    <button id="back" onclick="window.location.href='./index.html'">back</button>
    <button class="pay" onclick="pay()">pay</button></div>
<!--<div>
    <h1>Shopping cart Page</h1>
    <table>
        <thead>
        <tr>

            <td width="500">Product information</td>
            <td>Price</td>
            <td>Amount</td>
            <td>Total price</td>
            <td>Operations</td>
        </tr>
        </thead>
        <tbody>
        <tr v-for="(item, index) in list" :key="item.id">
            <td>
                <img :src="item.img">
                <div class="info">
                    <h6>{{ item.tit }}-{{ item.img }}</h6>
                    <p>Name：123</p>
                    <p>Auther:123</p>
                    <p>Price：123</p>
                </div>
            </td>
            <td>{{ item.price }}</td>
            <td><div class="num"><span v-on:click="item.num++">+</span><input type="text" name="" id="" v-model="item.num"><span v-on:click="item.num&#45;&#45;">-</span></div></td>
            <td>{{ item.price * item.num }}</td>
            <td><span v-on:click="deleteNowGoods(index)">Delete</span></td>
        </tr>

        </tbody>
        <tfoot>
        <tr>
            <td colspan="2"><button class="Delete"v-on:click="deleteGoods">Delete</button></td>
            <td colspan="4" class="checkout">{{ getGoodsNums.goodsNum }}Product：{{ getGoodsNums.goodsPrice }}HKD <button class="pay"v-on:click="deleteGoods">Pay</button></td>
        </tr>
        </tfoot>
    </table>
</div>-->

</body>

</html>